{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="wrapper">
        <h1 class="h1">ЗАДАНИЯ</h1>
        <a class="create-btn" href="{% url 'create_exercise' %}">Создать</a>
        <div class="cards">
            {% for exercise in exercises %}
                <div class="card">
                    <a class="card-ref" href="{% url 'exercise' exercise.id %}">
                        <div class="card-body">
                            <div class="card-body-text">
                                <h5 class="card-title">{{ exercise.name }}</h5>
                                <p class="card-author">{{ exercise.difficulty }}</p>
                            </div>
                            <div class="card-buttons">
                                <a class="btn update-btn" href="{% url 'update_exercise' exercise.id %}">Изменить</a>
                                <a class="btn delete-btn" href="{% url 'delete_exercise' exercise.id %}">Удалить</a>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            {% for page_num in paginator.page_range %}
                <a class="page" href="?page={{ page_num }}">{{ page_num }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}